 /* Manuel González Santos  -   UO279387*/
 /**Especificidad: 001*/
 body{
     font-family: Verdana, sans-serif;
     color:black;
     background: rgb(177,215,234);
     background: linear-gradient(90deg, rgba(177,215,234,1) 10%, rgba(199,228,239,1) 50%, rgba(177,215,234,1) 90%);
     font-size:1em;
 }
 /**Especificidad: 001*/
 header{
     color:inherit;
     background: rgb(94,166,201);
     background: linear-gradient(180deg, rgba(94,166,201,1) 10%, rgba(199,228,239,1) 50%, rgba(94,166,201,1) 90%);
     margin:0.8em;
 }
 /**Especificidad: 001*/
 nav{
  font-size: 1.3em;
  color:#003060;
 background-color: transparent;
 }
 /**Especificidad: 001*/
 article{
     margin:0.5em;
 }
 /**Especificidad: 001*/
 /**Sobreescribe propiedad margin para mejorar la separación visual*/
 h1,h2,h3,h4{
     text-align: center;
     margin-bottom:1em;
     margin-top: 1em;
 }
 /**Especificidad: 001*/
 h1,h3,caption,legend{
    color:#003060;
     background-color: transparent;
 }
  /**Especificidad: 001*/
 h1{
    font-size:4em;
    text-transform: uppercase;
 }
 /**Especificidad: 001*/
 h2{
     color:#003060;
     background: rgb(142,191,215);
     background: radial-gradient(circle, rgba(142,191,215,1) 30%, rgba(199,228,239,1) 50%, rgba(142,191,215,1) 70%);
     font-size:3em;
 }
 /**Especificidad:001*/
 h3,caption,legend{
    font-size:1.5em;
 }
 /**Especificidad:001*/
 h4{
     font-size:1.2em;
 }
 /**Especificidad:001*/
 h5{
     font-size:1.1em;
 }
 /**Especificidad:001*/
 h6{
     font-size:0.9em;
     font-style: italic;
 }
/**Especificidad: 001*/
li,dd,dt {
  line-height: 1.4em;
}
/**Especificidad: 001*/
dt {
  font-weight: bold;
}
/**Especificidad: 001*/
td{
  border-width: 0.1em;
    border-color: #6badce;
    border-style: groove;
    font-style: italic;
}
/**Especificidad: 001*/
th {
    border-width: 0.1em;
    border-color: #6badce;
    border-style: groove;
    letter-spacing: 0.1em;
}
/*Especificidad: 001*/
button {
 padding: 0.8em 1.5em;
 font-size: 0.8em;
border-width: 0.3em;
border-color: #4f9852;
border-style:outset;
 border-radius: 0.3em;
 cursor: pointer;
 background-color: #295B2B;
 color: white;
 transition: background-color 0.3s;
}
 /*Especificidad: 001*/
polygon{
    fill: #ECF86F;
    stroke:purple;
    stroke-width:3;
}
 /*Especificidad: 001*/
 label{
     border-width: 0.1em;
     border-color: #8ebfd7;
     border-style: groove ;
     border-radius: 0.5em;
     margin:0.1em;
 }
 /**Especificidad: 002*/
 nav>a{
     color:black;
     border-color: #468cda;
     background-color: #a6d0e0;
     padding:0.5em;
     border-width: 0.3em;
     border-style:outset;
     text-align: center;
 }
 /**Especificidad: 002*/
 article>section{
     gap:0.5em;
 }
 /*Especificidad: 011*/
 button:hover {
     background-color: #45a049;
     color:inherit;
 }
 /*Especificidad: 011*/
 button:active {
     background-color: #3e8e41;
     color:inherit
 }
 /*Especificidad: 011*/
 button:disabled {
     background-color: #cccccc;
     color: #666666;
     cursor: not-allowed;
 }
 /**Especificidad: 011*/
 a:visited {
     color: #5d2d52;
     background-color: inherit;
 }
 /**Especcificidad: 011*/
 a:hover {
     border-bottom: 0.1em solid;
     background: #68BBE3;
     color: inherit;
 }
 /**Especcificidad: 011*/
 a:active {
     background: #7F3E71;
     color: #cdfeaa;
 }
 /**Especificidad: 013*/
 article>section>img[data-state="inactive"]{
     display:none;
 }
 /**Especificidad: 013*/
 article>section>img[data-state="active"]{
     display:block;
 }
 @media only screen and (max-width: 600px) {
  /**Especificidad:001
  Se redefine el tamaño del texto para dispositivos en este rango de tamaño de pantalla*/
 h1{
   font-size:2.5em;
 }
  /**Especificidad:001
  Se redefine el tamaño del texto para dispositivos en este rango de tamaño de pantalla*/
 h2{
   font-size:1.5em;
 }
  /**Especificidad:001
  Se redefine el tamaño del texto para dispositivos en este rango de tamaño de pantalla*/
 h3{
   font-size:1.1em;
 }
}
 @media only screen and (min-width: 800px) {
     /**Especificidad: 001
     Se redefine el tamaño del texto para dispositivos en este rango de tamaño de pantalla*/
     body{
         font-size:1.3em;
     }
 }

