 /* Manuel González Santos  -   UO279387*/
/**Especificidad: 001*/
nav{
  display:grid;
  grid-template-columns: repeat(3,auto); 
  gap: 1em;
  text-align: center;
}
/**Especificidad: 001*/
h1,h2,h3,h4{
  text-align: center;
  }
 /**Especificidad: 001*/
picture{
    max-width: 100%;
    height: auto;
}
 /**Especificidad: 001*/
table{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
 /**Especificidad: 002*/
nav>a{
  margin: 0.1em;
}
 /**Especificidad: 002*/
article>section{
  display:flex;
}
 /**Especificidad: 003*/
article>section>img{
  width:33%;
  height: auto;
  overflow: hidden;
}
 /**Especificidad: 011*/
 article>*:not(:first-child){
   display:flex;
   justify-content: space-between;
   align-items: center;
 }
@media only screen and (max-width: 465px) {
  /**Especificidad:001*/
  video {
    width: auto;
    height: 10em;
    }
}
@media only screen and (max-width: 799px) {
    /**Especificidad:001*/
  video {
    width: auto;
    height: 15em;
    }

}
@media only screen and (min-width: 800px) {
    /**Especificidad:001*/
  video {
    width: auto;
    height: 20em;
    }
}