 /* Manuel González Santos  -   UO279387*/
/*Especificidad: 001*/
body{
 display: flex;
 flex-direction: column;
 align-items: center;
}
/**Especificidad: 001*/
nav{
  display:grid;
  grid-template-columns: repeat(3,auto);
  gap: 1em;
}
 /**Especificidad: 001*/
table{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
 /**Especificidad: 001*/
article{
    text-align: center;
}
 /**Especificidad: 001*/
aside{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Especificidad: 001*/
form{
 display:grid;
 grid-template-columns: repeat(1,auto);
}
/*Especificidad: 001*/
fieldset{
 display:flex;
 flex-direction: column;
}
/**Especificidad: 002*/
article>section{
  display:flex;
  flex-direction: column;
  align-items: center;
}
 /**Especificidad: 002*/
 /* Sobreescribe text-align: center para mostrar el texto a la izq de la página de rutas*/
main>article{
  text-align: left;
}
/*Especificidad: 004*/
 /*Principalmente sirve para la página de rutas, para los hitos de cada ruta*/
main>article>section>section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 465px) {
  /**Especificidad:001*/
  video {
    width: auto;
    height: 10em;
    }
  /**Especificidad:001
  Se redefine grid-template-columns para los dispositivos pequeños
   porque en 3 columnas no era adaptable*/
  nav{
    grid-template-columns: repeat(2,auto);
  }
    /**Especificidad:001*/
    img{
        max-width: 15em;
    }
    /*Especificidad:001*/
    svg{
        transform: scale(.8);
    }
}
@media only screen and (min-width: 466px) and (max-width: 799px) {
    /**Especificidad:001
    Se redefine width y height para lograr la adaptabilidad
    en dispositivos de este rango de tamaños de pantalla*/
  video {
    width: auto;
    height: 15em;
    }
  /**Especificidad:001*
  Se redefine max-width para lograr la adaptabilidad
    en dispositivos de este rango de tamaños de pantalla*/
  img{
    max-width: 25em;
  }
}
@media only screen and (min-width: 800px) {
    /**Especificidad:001
    Se redefine width y height para lograr la adaptabilidad
    en dispositivos de este rango de tamaños de pantalla*/
  video {
    width: auto;
    height: 20em;
    }
    /**Especificidad:001
    Se redefine max-width para lograr la adaptabilidad
    en dispositivos de este rango de tamaños de pantalla*/
    img{
        max-width: 35em;
    }
}