 /* Manuel González Santos  -   UO279387*/
/**Especificidad: 001*/
nav{
  display:grid;
  grid-template-columns: repeat(3,auto); 
  gap: 1em;
  text-align: center;
}
/**Especificidad: 001*/
h1,h2,h3,h4{
  text-align: center;
  }
/**Especificidad: 001*/
ul,ol,dl {
  /**Sobreescribe la propiedad left de padding*/
  padding-left: 2em;
}
 /*//En columna esta bien*/
/**Especificidad: 001*/
table {
   table-layout: fixed;
   width: 100%;
 }
 /**Especificidad: 002*/
 tbody td {
   text-align: center;
 }
 /**Especificidad: 002*/
 tfoot th {
   text-align: left;
 }

/**Especificidad: 002*/
section>article, aside>article,picture{
  display: flex;
  flex-direction: column;
 justify-content: center;
}



@media only screen and (max-width: 465px) {
  /**Especificidad:001*/
  video {
    width: auto;
    height: 10em;
    }
}
@media only screen and (max-width: 799px) {
  video {
    width: auto;
    height: 20em;
    }
}
@media only screen and (min-width: 800px) {
  video {
    width: auto;
    height: 30em;
    }
}